@model List<VehicleWebAppService.Models.VehicleMake>
@{ 
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Abrv</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>   
                <td>@item.Name</td>
                <td>@item.Abrv</td>
            </tr>
        }    
    </tbody>
</table>
