@model List<VehicleWebAppService.Models.VehicleMake>
@{ 
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Create" asp-action="Index">Create new</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th> Abrv</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>   
                <td>@item.Name</td>
                <td>@item.Abrv</td>
                <td>
                    <a asp-page="/Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }    
    </tbody>
</table>
