@model VehicleWebApp.Controllers.VehicleMakeController
@{ 
    ViewData["Title"] = "New vehicle make";
}

<h1>Create new vehicle make</h1>


<form method="post" asp-action="Create" asp-controller="Create">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        Name:
        <input asp-for="VehicleMake.Name" placeholder="eg. BMW" required/>
    </div>
    <div class="form-group">
        Abrv:
        <input asp-for="VehicleMake.Abrv" placeholder="eg. 530xd F10" required/>
    </div>
    <input class="btn btn-outline-success" type="submit" value="Create" />
</form>