@model VehicleWebAppService.Models.VehicleMake
@{ 
    ViewData["Title"] = "Vehicle make delete";
}

<h3>Vehicle make delete</h3>
<a asp-controller="VehicleMake" asp-action="Index">
    <i class="fas fa-long-arrow-alt-left"></i> Back to list
</a>

<div class="row">
    <div class="col-md-4">
        <p>Id: <b>@Model.VehicleMakeId</b></p>
        <p>Name: <b>@Model.Name</b></p>
        <p>Abrv: <b>@Model.Abrv</b></p>
        
        <p>Models:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Abrv</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<form method="post" asp-controller="VehicleMake" asp-action="Delete">
    <input type="submit" class="btn btn-danger" asp-constroller="Vehi<cleMake" asp-action="Delete" 
    value="Delete"/><br />
    <small><i>Note: with vehicle makes also will be deleted their vehicle models if they exist.</i></small>
</form>