@model VehicleWebAppService.Models.VehicleMake
@{ 
    ViewData["Title"] = "Vehicle make details";
}

<h3>Vehicle make details</h3>
<a asp-controller="VehicleMake" asp-action="Index">
    <i class="fas fa-long-arrow-alt-left"></i> Back to list
</a>

<div class="row">
    <div class="col-md-4">
        <p>Id: <b>@Model.Id</b></p>
        <p>Name: <b>@Model.Name</b></p>
        <p>Abrv: <b>@Model.Abrv</b></p>
        
        <p>Models:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Abrv</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>