@model VehicleWebAppService.Models.VehicleMake
@{ 
    ViewData["Title"] = "Edit vehicle make";
}

<h3>Vehicle make edit</h3>

<a asp-controller="VehicleMake" asp-action="Index">
    <i class="fas fa-long-arrow-alt-left"></i> Back to list
</a>

<form method="post" asp-controller="VehicleMake" asp-action="Edit" >
    <div asp-validation-summary="All"></div>
    <div class="row">
        <div class="col-md-4 form-group">
            <b>Name:</b>
            <input class="form-control" asp-for="@Model.Name"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <b>Abrv:</b>
            <input class="form-control" asp-for="@Model.Abrv"/>
        </div>
    </div>
    <input class="btn btn-success" type="submit" value="Edit" />
</form>