@model VehicleWebAppService.Models.VehicleModel
@{ 
    ViewData["Title"] = "Vehicle model create";
}

<h3>Vehicle model create</h3>

<a asp-controller="VehicleModel" asp-action="Index">
    <i class="fas fa-long-arrow-alt-left"></i> Back to list
</a>

<form method="post" asp-controller="VehicleModel" asp-action="Create" >
    <div asp-validation-summary="All"></div>
    <div class="row">
        <div class="col-md-4 form-group">
            <b>Vehicle make:</b>
            <select class="form-control" asp-for="VehicleMakeId" asp-items=@ViewBag.VehicleMakes></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <b>Name:</b>
            <input class="form-control" asp-for="@Model.Name" placeholder="eg. 530xd"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <b>Abrv:</b>
            <input class="form-control" asp-for="@Model.Abrv" placeholder="eg. F10"/>
        </div>
    </div>
    <input class="btn btn-success" type="submit" value="Create" />
</form>